/* base reset */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 2rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,  "Lucida Grande", sans-serif; 
}

html,
body {
  height: 100%;
}

.hartebeest-demo-heading {
  text-align: center;
  max-width: 43rem;
  margin-left: auto;
  margin-right: auto;
}

h1.hartebeest-demo-heading {
  font-weight: 300;
  text-transform: uppercase;
}

h2.hartebeest-demo-heading {
  font-weight: 100;
}

h3.hartebeest-demo-heading {
  border-top: 1px solid #ddd;
  padding-top: 2rem;
  font-weight: 200;
}

ul.collapsible-menu {
  padding: 0;
  list-style: none;
  max-width: 30rem;
  margin: 2rem auto 4rem;
  background: #fefefe;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18), 0 2px 10px rgba(0, 0, 0, 0.14), 0 -3px 2px rgba(0, 0, 0, 0.14);
  font-family: 'Cutive Mono', monospace;
}

/* hide radio input */

.collapsible-menu input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
}

.collapsible-menu label {
  position: relative;
  display: block;
  background: #fefefe;
  cursor: pointer;
  padding: 0 1rem;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.collapsible-menu label:hover {
  background: #eee;
}

.collapsible-menu i {
  width: 2rem;
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.6rem;
}

.collapsible-menu .material-icons,
.menu-item-title {
  line-height: 3rem;
  vertical-align: middle;
}

.menu-item-title::after {
  position: absolute;
  content: '';
  top: 0.75rem;
  right: 1.875rem;
  bottom: 1.875rem;
  width: 0.625rem;
  height: 0.625rem;
  border-right: 0.125rem solid;
  border-bottom: 0.125rem solid;
  -webkit-transform: rotate(45deg) translateY(0);
  transform: rotate(45deg) translateY(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.collapsible-menu input:checked + label .menu-item-title:after {
  -webkit-transform: translateY(60%) rotate(-135deg);
          transform: translateY(60%) rotate(-135deg);
}

.collapsible-menu li {
  position: relative;
  margin: 0;
  padding: 0;
}

.collapsible-menu li:not(:first-of-type) {
  box-shadow: 0 -1px 0 #ddd;
}

.collapsible-menu .menu-item-wrapper {
  position: relative;
  visibility: hidden;
  opacity: 0;
  height: 0;
  -webkit-transform: translateY(25%);
  transform: translateY(25%);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  overflow: hidden;
}


.collapsible-menu .menu-item-wrapper p {
  padding: 1rem;
  margin: 0;
}

.menu-item-wrapper p + img {
  max-width: 70%;
  display: block;
  margin: auto;
}

.collapsible-menu input:checked + label + .menu-item-wrapper {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.collapsible-menu input:checked + label + .menu-item-wrapper.sm-item {
  height: 8.75em;
}

.collapsible-menu input:checked + label + .menu-item-wrapper.md-item {
  height: 18.75em;
}

.collapsible-menu input:checked + label + .menu-item-wrapper.lg-item {
  height: 32em;
}

.collapsible-menu input:checked + label {
  background: #333;
  color: #ccc;
}
