/* base reset */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0.01rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,  "Lucida Grande", sans-serif; 
}

html,
body {
  height: 100%;
}

.hartebeest-demo-heading {
  text-align: center;
  max-width: 43rem;
  margin-left: auto;
  margin-right: auto;
}

h1.hartebeest-demo-heading {
  font-weight: 300;
  text-transform: uppercase;
}

h2.hartebeest-demo-heading {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2rem;
  font-weight: 100;
}

.dropdown-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 10rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* button styles  */

.dropdown-trigger,
.dropdown-list a {
  text-decoration: none;
}

.dropdown-trigger {
  text-transform: uppercase;
  background-color: #26A69A;
  color: #fff;
  display: block;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18), 0 2px 10px rgba(0, 0, 0, 0.14);
  -webkit-transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.dropdown-trigger:hover {
  background-color: #39B5A8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18), 0 4px 13px rgba(0, 0, 0, 0.14)
}

/*dropdown-list*/

.dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 10rem;
  visibility: hidden;
  position: absolute;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18), 0 2px 10px 0 rgba(0, 0, 0, 0.14);
  opacity: 0;
  -webkit-transform: translateY(2.5rem);
  transform: translateY(2.5rem);
  -webkit-transition: opacity .35s ease-in-out, -webkit-transform .35s ease-in-out;
  transition: opacity .35s ease-in-out, -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out, opacity .35s ease-in-out;
  transition: transform .35s ease-in-out, opacity .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.dropdown-list:target {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.dropdown-list li,
.dropdown-list a {
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: left;
  color: #26A69A;
}

.dropdown-list a {
  display: block;
  padding: 0 1rem;
}

.dropdown-list a:hover,
.dropdown-list a:focus {
  background-color: #f2f2f2;
}
