/* base reset */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0.01rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,  "Lucida Grande", sans-serif; 
}

html,
body {
  height: 100%;
}

/* text styling */

.hartebeest-demo-heading {
  text-align: center;
  max-width: 43rem;
  margin-left: auto;
  margin-right: auto;
}

h1.hartebeest-demo-heading {
  font-weight: 300;
  text-transform: uppercase;
}

h2.hartebeest-demo-heading {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2rem;
  font-weight: 100;
}

/* menu links styling */

.wrapper {
  width: 90%;
  margin: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  margin: 5% 9%;
  color: #097FF3;
}

a:hover {
  color: #F75ED2;
}
