* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0.01em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
}

body,
html {
  height: 100%;
}

.hartebeest-demo-heading {
  text-align: center;
  max-width: 43rem;
  margin-left: auto;
  margin-right: auto;
}

h1.hartebeest-demo-heading {
  font-weight: 300;
  text-transform: uppercase;
}

h2.hartebeest-demo-heading {
  font-weight: 100;
  border-bottom: 1px solid #ddd;
  padding-bottom: 2rem;
}

h3.hartebeest-demo-heading {
  font-weight: 200;
  font-style: italic;
}

.wave-demo {
  margin: auto;
  padding: 1rem 2rem;
  max-width: 43rem;
  text-align: center;
}

@media screen and (min-width: 69rem) {
  .wave-demo {
    display: inline-block;
    padding: 1rem 0.5%;
    width: 49%;
    text-align: center;
  }
}
.wave-demo > * {
  vertical-align: middle;
  font-weight: 300;
  letter-spacing: 0.0125em;
}


/* removes padding and border adding by Firefox  */

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

.btn {
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 0 0.75rem;
  min-width: 7rem;
  min-height: 3rem;
  line-height: 3rem;
  border: none;
  text-decoration: none;
  color: inherit;
  font-family: sans-serif;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 -1px 7px rgba(0, 0, 0, 0.1);
  border-radius: 0.15em;
}

.btn:focus {
  outline: none;
}

.btn:active {
  -webkit-transform: translateY(2px) scale(0.98);
          transform: translateY(2px) scale(0.98);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.ripple {
  position: relative;
  margin: 1rem;
  color: #f5f5f5;
  -webkit-transition: all 0.42s ease-in-out;
  -webkit-transition: all 0.42s ease-out;
  transition: all 0.42s ease-out;
}

.wave {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.dark-wave {
  background: rgba(55, 55, 55, 0.1);
}

.waving {
  -webkit-animation: waves 0.42s linear;
  animation: waves 0.42s linear;
}

@-webkit-keyframes waves {
  to {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
}

@keyframes waves {
  to {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
}


/* custom button styles for this demo */

.circle-wave {
  border-radius: 50%;
}

.img-back {
  background: url('https://unsplash.it/g/300/500') no-repeat center center / cover;
}

.blue-back {
  background: #1287f3;
}

.blue-back:hover,
.blue-back:focus {
  background: #0177f3;
}

.pink-back {
  background: #ff5ed2;
}

.pink-back:hover,
.pink-back:focus {
  background: #ee5ed2;
}

.circle-btn {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  line-height: 6rem;
  font-size: 2rem;
}

.circle-btn:hover,
.circle-btn:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.circle-btn:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}
