/* base reset */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
}

ul.collapsible-menu {
  padding: 0;
  list-style: none;
  max-width: 30rem;
  margin: 0 auto;
}


/* hide radio input */

.collapsible-menu input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.collapsible-menu label {
  display: block;
  cursor: pointer;
  padding: 0 1rem;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.collapsible-menu i {
  width: 2rem;
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.6rem;
}

.collapsible-menu .material-icons,
.collapsible-menu span {
  line-height: 3rem;
  vertical-align: middle;
}

.collapsible-menu li {
  position: relative;
  margin: 0;
  padding: 0;
}

.collapsible-menu li:not(:first-of-type) {
  border-top: 1px solid #ddd;
}

.collapsible-menu li:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
}

.collapsible-menu .menu-item-wrapper {
  position: relative;
  visibility: hidden;
  opacity: 0;
  height: 0;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  overflow: hidden;
}

.collapsible-menu .menu-item-wrapper p {
  padding: 1rem;
  margin: 0;
}

.collapsible-menu input:checked + label + .menu-item-wrapper {
  visibility: visible;
  opacity: 1;
  height: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.collapsible-menu input:checked + label {
  background: #333;
  color: #ccc;
}
